
:root{
    --vermelho:#E50914;
    --preta:#141414;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif; 
    color: white;
}
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 15px;

}

header nav a:hover{
    color: #fff;
    
}
/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color:rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/* Filmes*/
.carrossel-filmes #filmes{
    margin-left: 5px;
    
    line-height: 1.25vw;
    font-size: 1.4vw;
    margin-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carrossel-filmes .menu{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;   
}
.carrossel-filmes{
    margin-top: 5px;
}

/*Séries*/
.carrossel-series #series{
    margin-left: 5px;

    line-height: 1.25vw;
    font-size: 1.4vw;
    margin-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carrossel-series .menu{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    
}
    
.carrossel-series{
    margin-top: 5px;
}

/*Documentários*/
.carrossel-documentarios #documentarios{
    margin-left: 5px;
    
    line-height: 1.25vw;
    font-size: 1.4vw;
    margin-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carrossel-documentarios .menu{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    
}
    
.carrossel-documentarios{
    margin-top: 5px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;

}

/*Bombando*/
.carrossel-bombando #bombando{
    margin-left: 5px;
    
    line-height: 1.25vw;
    font-size: 1.4vw;
    margin-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carrossel-bombando .menu{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;   
}
.carrossel-bombando{
    margin-top: 5px;
}

/*Minha Lista*/
.carrossel-minhalista #minhalista{
    margin-left: 5px;
    
    line-height: 1.25vw;
    font-size: 1.4vw;
    margin-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carrossel-minhalista .menu{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;   
}
.carrossel-minhalista{
    margin-top: 5px;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
















